@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    min-height: 100dvh;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p,
h1,
h2,
h3,
h4 {
    overflow-wrap: break-word;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

a,
i,
figure,
img,
button,
input[type="button"],
input[type="submit"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
    border-style: none;
    outline-style: none;
}

    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    button,
    a {
        cursor: pointer;
    }

a {
    text-decoration: none;
    color: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.container {
    max-width: 1200px;
    width: min(100% - 25px, 1080px);
    margin-inline: auto;
    box-sizing: border-box;
}

/* ! ------------------------------------------------------------------------ */
/* !                                 CONTENT                                  */
/* ! ------------------------------------------------------------------------ */

body {
    background-color: #f5f5f5;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 0;
    /*height: 100svh;*/
    background-color: #f5f5f5;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 3rem 0;
    text-align: center;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*gap: 1.5rem;*/
    /*padding: 3rem 0;*/
    text-align: center;
}

.login-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 3rem 0;
}

.login-btn,
.action-btn, 
.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: lightpink;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .login-btn:hover,
    .submit-btn:hover,
    .action-btn:hover {
        background-color: #ff6b6b;
    }

/* ! ------------------------------------------------------------------------ */

.product-form {
    max-width: 400px;
    margin: 0 auto;
}

/*.form-group {
    margin-bottom: 20px;
}*/

label {
    display: block;
    /*margin-bottom: 5px;*/
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.instructions {
    padding-bottom: 1.5rem;
}

/* ! ------------------------------------------------------------------------ */

table {
    width: 100%;
    border-collapse: collapse;
    /*margin-bottom: 20px;*/
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

/* ! ------------------------------------------------------------------------ */